<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tdops.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.04</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
				<key>dateExpires</key>
				<string>08/04/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ED5D2A15B64EE9ED76C381106AC947CA609ED86</string>
						<key>dateExpires</key>
						<string>08/04/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8635BL2DV6</string>
						<key>name</key>
						<string>TEDA GH TECHNOLOGY SDN BHD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8635BL2DV6.com.example.tdops</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8635BL2DV6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>291bb51a-efd5-468a-8baf-fb6b0fe87b98</string>
				<key>dateExpires</key>
				<string>08/04/2025</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.example.tdops</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8635BL2DV6</string>
				<key>name</key>
				<string>TEDA GH TECHNOLOGY SDN BHD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.4</string>
		</dict>
	</array>
</dict>
</plist>
